@font-face {
  font-family: regular;
  src: url(files/fonts/regular.ttf); }
@font-face {
  font-family: hand;
  src: url(files/fonts/hand.ttf); }
@font-face {
  font-family: grand-hotel;
  src: url(files/fonts/grand-hotel.otf); }
html, body {
  margin: 0;
  padding: 0; }

.menu {
  width: 20vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0; }

.content {
  width: 78vw;
  height: 100vh;
  float: right;
  padding: 10px; }

.create-post {
  padding: 0;
  width: 100%;
  font-family: regular; }
  .create-post table {
    width: 70%;
    margin: 10px auto; }
  .create-post label {
    font-size: 130%; }
  .create-post input[type=text] {
    border: 1px solid #3adda2;
    width: 100%;
    height: 30px;
    border-radius: 3px;
    padding-left: 5px; }
    .create-post input[type=text]:focus {
      outline: none;
      transition: 300ms;
      border: 1px solid #22cff4;
      box-shadow: 0 0 3px #15afcb; }
  .create-post input[type=submit] {
    border-radius: 5px;
    background-color: #3adda2;
    color: white;
    width: 30%;
    height: 30px;
    font-size: 100%;
    display: block;
    border: none;
    margin: 10px auto; }
    .create-post input[type=submit]:hover {
      cursor: pointer;
      opacity: 0.8; }
  .create-post textarea {
    outline: none;
    border: 1px solid #3adda2;
    width: 100%;
    height: 65vh;
    padding: 5px; }
    .create-post textarea:focus {
      outline: none;
      transition: 300ms;
      border: 1px solid #3adda2;
      box-shadow: 0 0 5px #15afcb; }
