body {
  background-color: #ebebeb; }

.head-container {
  position: absolute;
  top: 0; }
  .head-container .cover-img {
    height: 100%;
    width: 100%;
    position: fixed;
    background: radial-gradient(circle, #7c4eab, #560b91);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; }
    .head-container .cover-img .description {
      width: 90%;
      height: 25%;
      margin: 10vh auto;
      padding-top: 20%;
      color: white;
      font-family: regular;
      font-weight: bold;
      text-shadow: 0 0 3px black; }
      .head-container .cover-img .description .title {
        padding: 0;
        margin: 10px;
        text-align: center;
        font-size: 400%; }
      .head-container .cover-img .description .sub-title {
        padding: 0;
        margin: 20px;
        font-size: 125%;
        text-align: center;
        color: #e2e1e1; }

.content {
  width: 90%;
  margin: 90vh auto 5% auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 20px #919191;
  position: relative;
  z-index: 2; }
  .content .arrow-container {
    width: 100%;
    overflow: hidden;
    border-radius: 15px; }
    .content .arrow-container:hover {
      cursor: pointer;
      background-color: #1f232d;
      border-radius: 0;
      transition: 300ms; }
    .content .arrow-container:hover .arrow {
      border-color: white;
      transition: 100ms; }
    .content .arrow-container .arrow {
      width: 10vh;
      height: 10vh;
      margin: auto;
      position: relative;
      border-width: 3px 3px 0 0;
      border-color: black;
      border-style: double; }
  .content .post-container {
    width: 33%;
    height: 20%;
    display: inline-table;
    margin-top: 10px;
    margin-bottom: 5vh; }
    .content .post-container .post {
      height: 30vh;
      width: 100%; }
      .content .post-container .post:hover {
        cursor: pointer;
        text-shadow: 0 0 1px #c9c9c9;
        transition: 300ms; }
      .content .post-container .post:hover .img-container {
        box-shadow: inset 0 0 0 10000px rgba(0, 0, 0, 0.2);
        transition: 300ms; }
      .content .post-container .post .img-container {
        margin: auto;
        width: 80%;
        height: 70%;
        background-color: #22cff4; }
        .content .post-container .post .img-container img {
          display: block;
          width: 100%;
          height: 100%; }
      .content .post-container .post .title {
        color: black;
        font-size: 170%;
        font-family: regular;
        margin: 2% 0 2% 0;
        text-align: center;
        text-overflow: ellipsis; }
      .content .post-container .post .post-description {
        width: 80%;
        color: gray;
        margin: 5px auto;
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
        font-family: regular;
        font-size: 100%; }
  .content .content-title {
    width: 50%;
    margin: 10px auto 20px auto;
    border-bottom: 1px solid black;
    border-top: 1px solid black; }
    .content .content-title .title {
      text-align: center;
      font-family: regular; }

.arrow-up {
  transform: rotate(-45deg);
  top: 22px; }

.arrow-down {
  transform: rotate(135deg);
  top: -22px; }
